.edit_intern {
  display: flex;
  justify-content: center;
}

.edit_intern_button {
  display: flex;
  align-items: left;
  color: rgba(0, 104, 226, 1);
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 998;
  margin-top: 10px;
  padding: 10px; /* добавляем padding для более удобного нажатия */
}
.edit_intern_button:disabled {
    background-color: #828385;
    cursor: not-allowed;
    box-shadow: none !important;
}
.edit_intern_button:disabled path {
    fill: #ffffff;
}
.edit_intern_button:disabled:hover {
   background-color: #828385;
   cursor: not-allowed;
}

.edit_intern_button svg {
  fill: #236cd9;
  transition: fill 0.5s ease;
}


.edit_intern_button:hover svg {
  fill: #ffffff;
}


.edit_intern_button:hover {
  background-color: #3f94a099;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white; /* исправляем ошибку в цвете */
}
