@font-face {
  font-family: "fontawesome2";
  src: url('../../fonts/CRO55DM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.exam-header {
  position: relative;
  font-family: "fontawesome2", sans-serif;
}
.header-content {
  position: fixed; /* Фиксируем Header в верхней части */
  top: 0;
  width: 100%;
  z-index: 2; /* Делаем Header выше других элементов */
  font-family: "fontawesome2", sans-serif;
}
.exam-content {
  position: fixed;
  margin-top: 140px;
  width:100%;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  font-family: "fontawesome2", sans-serif;
}

.company {
  color: #176add;
  margin-top: 20px;
  width: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 10px #757679;
  border-radius: 25px;
  background-color: #92c9a5c2;
  font-family: "fontawesome2", sans-serif;
}
.exam-container {
  display: block;
  padding: 5px;
  border-radius: 25px;
  margin-top: 20px;
  width: auto;
  background-color: #e5e5e5;
  z-index:11;
  overflow-y: auto;
  height: 70vh;
}
.padding {
  display: block;
  border: 10px solid #e5e5e5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 23px 0 0 23px;
}
.exam-table {
  height: 100%;
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
}
.scroll-thead {
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 12;
}
.scroll-tbody {
  height: 60vh;
  z-index: 10;
  overflow-y: auto; /* Добавляем вертикальную прокрутку */
}
.th {
  background-color: #1a75e1;
  color: white;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  border: 1px solid #ddd;
  height: auto;
  width: auto; /* Устанавливаем ширину на auto */
  max-width: 500px;
  word-wrap: break-word; /* Перенос слов, если они не помещаются */
}
.hidden-header {
  color: #e5e5e5;
  pointer-events: none;
  background-color: #e5e5e5;
  border: none;
  width: auto;
}
.hidden-header::before {
  width: 100px;
  content: ""; /* Убирает текстовое содержание */
}
.td {
  color: #0073e6;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  border: 1px solid #ddd;
  height: auto;
  width: auto; /* Устанавливаем ширину на auto */
  max-width: 500px; /* Максимальная ширина ячеек */
  word-wrap: break-word; /* Перенос слов, если они не помещаются */
}
.exam-table th:nth-child(1),
.exam-table td:nth-child(1) {
  min-width: 80px;  /* Минимальная ширина */
  max-width: 250px; /* Максимальная ширина */
}
.exam-table th:nth-child(2),
.exam-table td:nth-child(2) {
  min-width: 80px; /* Минимальная ширина */
  max-width: 250px; /* Максимальная ширина */
}
.exam-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.exam-table tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.exam-table tbody tr:hover {
  background-color: #E3E3B3;
  cursor: pointer;
}
.edit-button-cell {
  background-color: #e9e9e9;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: 100%;
}
.add-intern {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-family: "fontawesome2", sans-serif;
  pointer-events: auto;
}
.modal {
  backdrop-filter: blur(20px);
}

