@font-face {
  font-family: "fontawesome2";
  src: url('../../fonts/CRO55DM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.exam-table {
  position: relative;
  font-family: "fontawesome2", sans-serif;
}
.exam-content {
  top: 140px;
  width:100%;
  min-height: 100%;
  display:flex;
  flex-direction: column;
  padding: 10px;
  position:relative;
  font-family: "fontawesome2", sans-serif;
}
.header-content {
  position: fixed; /* Фиксируем Header в верхней части */
  top: 0;
  width: 100%;
  z-index: 2; /* Делаем Header выше других элементов */
   font-family: "fontawesome2", sans-serif;
}
.company {
  color: #176add;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 10px #757679;
  border-radius: 25px;
  background-color: #92c9a5c2;
   font-family: "fontawesome2", sans-serif;
}
.exam-container {
   font-family: "fontawesome2", sans-serif;
  z-index:1;
}
.exam__background {
  background-color: #DDE6EC;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exam-fixed {
  display:fixed;
}
.exam-container {
  position:absolute;
  display:block;
  max-width:99%;
  margin-top: 25px;
  top: 55px;
  button:50px;
  padding: 10px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 15px;
  box-shadow: 0px 4px 10px #757679;
  z-index:2;
}
.table-wrapper {
  width: 100%;
  overflow-x: auto;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.scroll-table-body {
  max-height: 60vh;
  overflow-y: scroll;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
   font-family: "fontawesome2", sans-serif;
}
.td_scroll {
    padding: 10px;
    text-align: left;
    color: #0068E2;
    font-size: 20px;
    border: 1px solid #ddd;
    max-width: 200px; /* Ограничение ширины ячейки */
    word-wrap: break-word; /* Перенос слов */
    white-space: normal; /* Перенос по строкам */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Если текст слишком длинный, показать "..." */
}
.exam-table {
  width: 100%;
  height:60%;
  table-layout: fixed;
  border-collapse: collapse !impotent;
  border-spacing:0;
}
.exam-table {
  pointer-events: auto; /* Включено по умолчанию */
}

.td {
  padding: 10px;
  text-align: left;
  color: #0068E2;
  font-size: 20px;
  border: 1px solid #ddd;
}
.th.date,
.th.name_intern,
.th.training_form,
.th.try_count,
.th.time_exam,
.th.name_examiner_name,
.th.result_exam,
.th.comment_exam,
.th.name_train,
.th.internal_test_examiner {
  padding: 10px;
  text-align: left;
  background-color: #176add;
  color: white;
  font-size: 18px;
  border: 1px solid #ffffff;
  position: sticky;
  z-index: 1;
}

.hidden-header {
    color: #e5e5e5;
    pointer-events: none;
    background-color: #e5e5e5;
    border: none;
}
.exam-table {
   border:none !impotent;
}
.hidden-header::before {
  content: ""; /* Убирает текстовое содержание */
}

.exam-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.exam-table tbody tr:nth-child(even) {
  background-color: #e9e9e9;
}
::-webkit-scrollbar {
	width: 1px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.exam-table tbody tr:hover {
  background-color: #E3E3B3;
  cursor: pointer;
}

.exam-table .edit-button-cell {
  right: 0;
  background-color: #e5e5e5;
  z-index: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 100px; /* Задаем минимальную ширину */
  height: 100%;
}

.buttons {
    color: #e5e5e5;
    pointer-events: auto;
    background-color: #e5e5e5;
    border-bottom: none;
}
.add-intern {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px; /* добавляем отступ сверху */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
   font-family: "fontawesome2", sans-serif;
   pointer-events: auto;
}

.modal {
  backdrop-filter: blur (20px);
}
