@font-face {
  font-family: "fontawesome2";
  src: url('../../fonts/CRO55DM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "fontawesome2", sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}


button {
  padding: 10px 20px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(105, 155, 247, 1);
  color: rgba(105, 155, 247, 1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold;
}
button:hover {
  background-color: rgba(75, 119, 201, 1);
  color: white;
}

.modal-top {
  font-weight: bold;
  text-align: left;
  transition: background-color 0.3s ease;
}


.modal-content {
  background-color: rgba(105, 155, 247, 1);
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #fcfcfc;
  width: 50%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgba(255, 255, 255, 0.9);
  color: #fff;
}

form {
  display: grid;
  gap: 10px;
}

form label {
  font-weight: bold;
  font-family: "fontawesome2", sans-serif;
}

form input[type="text"],
form input[type="date"],
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-family: "fontawesome2", sans-serif;
}

.plus {
  width: 100%;
  padding: 10px;
  border-color: #fff;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 15px;
  font-family: "fontawesome2", sans-serif;
}

.plus:hover {
  background-color: #0056b3;
}

