@font-face {
  font-family: "fontawesome2";
  src: url('../../fonts/CRO55DM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(5px);
  opacity: 0.7;
  z-index: 1;
}
.background::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: left;
  z-index: 2;
}

.container_auto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.start-glass-bg {
  position: absolute;
  border-radius: 10px;
  padding: 2rem;
  width: 500px;
  height: auto;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  box-shadow: 1px 4px 4px 4px rgba(255, 255, 255, 1.5);
  border-radius: 50px;
  z-index: 2;
}
.start-glass-bg img{
  padding: 50px;
  cursor:pointer;
}
.error-message {
  color: #ff4d4f;
  background-color: #ffe6e6;
  border: 1px solid #ff4d4f;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}
.registration-form {
  display: flex;
  flex-direction: column;
  padding: 3 0px 30px 30px;
  font-family: "fontawesome2" sans-serif;
}

.registration-form h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: rgba(0, 104, 226, 1);
  font-family: "fontawesome2" sans-serif;
}

.registration-form label {
  margin-bottom: 0.5rem;
  color: rgba(0, 104, 226, 1);
  font-family: "fontawesome2" sans-serif;
}
.registration-form input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(239, 128, 81, 1);
  border-radius: 5px;
  background: rgba(253, 243, 228, 1);
  color: rgba(0, 104, 226, 1);
  font-family: "fontawesome2", sans-serif;
  font-size: 2ex;
}
.registration-form input::placeholder {
  color: rgba(0, 104, 226, 1);
}
.registration-form p {
  color: rgba(0, 104, 226, 1);
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "fontawesome2" sans-serif;
}
.registration-form button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background: rgba(0, 104, 226, 1);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 20px;
  font-family: "fontawesome2" sans-serif;
}

.registration-form button:hover {
  background: rgba(239, 128, 81, 1);
  color: rgba(0, 104, 226, 1);
}