@font-face {
  font-family: "fontawesome2";
  src: url('../../fonts/CRO55DM.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

html, body {
  height: 100%;
  margin: 0;
  font-family: "fontawesome2" sans-serif;
}


.add-modal {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #DDE6EC;
  color: rgba(105, 155, 247, 1);
  cursor: pointer;
  font-size:16px;
  transition: background-color 0.5s ease;
  font-weight: bold;
  font-family: "fontawesome2", sans-serif;
}

.add-modal:hover {
  background-color: #3f94a099;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-family: "fontawesome2", sans-serif;
}

.modal-top {
  font-weight: bold;
  text-align: left;
  transition: background-color 0.5s ease;
  font-family: "fontawesome2", sans-serif;
}


.modal-content {
  backdrop-filter: blur(10px);
  background-color: #8aabdd57;
  border: 3px solid #fcfcfc;
  border-radius: 10px;
  box-shadow: 0 0 20px #ffffffe6;
  color: #fff;
  margin: 15% auto;
  max-width: 600px;
  padding: 20px;
  width: 50%;
  position: relative;
  font-family: "fontawesome2", sans-serif;
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  margin-button:20px;
  font-family: "fontawesome2", sans-serif;
}

.close-modal img {
  width: 24px;
  height: 24px;
}

form {
  display: grid;
  gap: 10px;
  font-family: "fontawesome2", sans-serif;
}

form label {
  font-weight: bold;
  font-size:20px;
  font-family: "fontawesome2", sans-serif;
}

form input[type="text"],
form input[type="date"],
form select
{
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  font-size:20px;
  font-family: "fontawesome2" sans-serif;
  color: rgba(105, 155, 247, 1);
  appearance: none;
}
.svg-time {
  background-image: url('../../img/time-modol.svg'); /* иконка стрелки (кастомная) */
}
.svg-examiner {
  background-image: url('../../img/piter-pen.svg');
}
.svg-result {
  background-image: url('../../img/square-check.svg');
}
.comment {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "fontawesome2" sans-serif;
    font-size:16px;
    color: rgba(105, 155, 247, 1);
    resize: vertical; /* Разрешает изменение высоты пользователем */
    overflow-wrap: break-word; /* Перенос слов на новую строку */
    max-height: 200px; /* Максимальная высота */
    overflow-y: auto;
}
form select {
  background-position: right 10px center;
  background-repeat: no-repeat;
  font-family: "fontawesome2" sans-serif;
}
.form_option {
  font-family: "inherit", sans-serif;
}
.plus {
  width: 100%;
  padding: 10px;
  border-color: #fff;
  background-color: #e5e5e5;
  color: white;
  cursor: pointer;
  border-radius: 15px;
 }

.plus:hover {
  background-color: #236cd9;
}
.error {
  color: #ff4d4f;
  font-size: 16px;
  background-color: #ffe6e6;
  border: 1px solid #ff4d4f;
  padding: 5px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: left;
  font-weight: bold;
  font-family: "fontawesome2", sans-serif;
}
