.delete-button {
  align-items: center;
  border: none;
  border-radius: 10px;
  color: #0068e2;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
  padding: 10px;
  transition: color .5s ease, background-color .5s ease, box-shadow .5s ease;
  z-index: 1000;
  margin-left: 5px;
}
.delete-button:hover {
  color: wight;
  background-color: #3f94a099;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.delete-button:hover svg {
  fill: #ffffff;
  stroke: #ffffff;
}
/* style_delete_exam.css */

.delete-exam-container {
  position: relative;
}

/* Модальное окно */
.modal-delete {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* Модальное окно всегда поверх других элементов */
}

.modal-content-delete {
  backdrop-filter: blur(10px);
  background-color: #8aabdd57;
  border: 5px solid #9ca9bd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 6 8px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 300px;
  color: white;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.confirm-button {
  background-color: #ff7c1e;
  color: white;
}

.cancel-button {
  background-color: #4caf50;
  color: white;
}

.confirm-button:hover {
  background-color: #da5f07;
}

.cancel-button:hover {
  background-color: #059c0b;
}

